:root {
    --dark: midnightblue;
    --light: white;
    --accent-gray: lightgray;
    --accent-seafoam: #93e9be;
}

header, footer {
    background-color: var(--dark);
    color: var(--light);
}

header {
    display: flex;
    flex-wrap: wrap;
}

.name-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 20px 15px 0 25px;
}

.name {
    text-decoration: none;
    color: var(--light);
    font-weight: lighter;
}

.nav-container {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: right;
}

.nav-container ul {
    list-style-type: none;
}

.nav-container ul li {
    display: inline;
    flex: 1 1 33%;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-right: 25px;
}

.nav-container a:hover {
    background-color: var(--accent-seafoam);
    color: var(--dark);
    font-weight: bolder;
    padding: 5px;
}